// COLORS
$color-alabaster: #F7F7F7;
$color-black: #000;
$color-dusty-gray: #999;
$color-havelock-blue: #47A3DA;
$color-white: #fff;

// SETTINGS
$bg-color--primary: $color-havelock-blue;
$bg-color--secondary: $color-alabaster;
$bg-invert-color--primary: $color-white;
$icon-color: $color-dusty-gray;
$border-color: rgba($color-black, 0.05);